# WELCOME TO SPORTSERVE ASSESMENT
## NAME: ELIJAH NDETO
## ROLE: DATA ENGINEER

## TASK
Given the provided .csv file (users01.csv), please complete the following tasks:
1.	Read the CSV file and load the data in the database of your choice.
2.	Create a query/algorithm that will find the most common user properties and return them as a result.
3.	Create a query/algorithm that will find any similarities between users, that would suggest a "strong" or “weak (fuzzy)” connection between any 2 or more users IF that type of connection exists in the database.
4.	Create basic visualization representation of results (e.g. with Python Matplotlib)

### IMPORTING LIBRARIES

In [4]:
# csv interactions and data handling
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# Database connections
import psycopg2
from sqlalchemy import create_engine
import pyodbc

# Visualization (helpful during development)
import matplotlib.pyplot as plt
import seaborn as sns

## DATABASE CONNECTION
DB: SQLServer

In [5]:
# SQL connection and engine setup
conn_str = (
    r"DRIVER={ODBC Driver 17 for SQL Server};"
    r"Server=localhost\SQLEXPRESS;"
    r"Database=Sportserve;"
    r"Trusted_Connection=yes;"
)

DB_DRIVER = 'mssql+pyodbc'
DB_SERVER = 'localhost\SQLEXPRESS'
DB_DATABASE = 'Sportserve'
DB_DRIVER_ODBC = 'ODBC Driver 17 for SQL Server'
connection_string = (
    f"{DB_DRIVER}:///?odbc_connect=DRIVER={DB_DRIVER_ODBC};"
    f"SERVER={DB_SERVER};"
    f"DATABASE={DB_DATABASE};"
    f"Trusted_Connection=yes;"
)
#engine.dispose()
engine = create_engine(connection_string)

## READING THE CSVS

In [3]:
users_01 = pd.read_csv("users01.csv")
users_02 = pd.read_csv("users02.csv")

In [4]:
print("users01 shape:", users_01.shape)
print("users01 shape:", users_02.shape)

users01 shape: (1000, 27)
users01 shape: (1000, 27)

In [7]:
print("users01", users_01.columns)

users01 Index(['id', 'uid', 'password', 'first_name', 'last_name', 'username', 'email',
       'avatar', 'gender', 'phone_number', 'social_insurance_number',
       'date_of_birth', 'title', 'key_skill', 'city', 'street_name',
       'street_address', 'zip_code', 'state', 'country', 'lat', 'lng',
       'cc_number', 'plan', 'status', 'payment_method', 'term'],
      dtype='object')

## INSERTING THE CSVS TO TABLES

In [ ]:
#user 1 to db
users_01.to_sql('sports_user1', con=engine, if_exists='replace', index=False)
print("csv exported to SQL database in table 'sports_user1'.")
print (users_01.head())

#user 2 to db
users_02.to_sql('sports_user2', con=engine, if_exists='replace', index=False)
print("csv exported to SQL database in table 'sports_user1'.")
print (users_02.head())

csv exported to SQL database in table 'sports_user1'.
     id                                   uid    password first_name  \
0  1093  c3891995-cc9a-421f-af9c-13b2b8ead17a  oRfm4ZJxp2       Rich
1  4369  41a8ea22-81e0-425f-90a6-bfc6bde62623  8fsDja6rnm     Hester
2  5401  8ef4a099-07da-4222-8a0c-8331a1762443  7lC8fOs1re      Craig
3  5642  cfa4592d-8bdb-4185-b436-9cd88db27014  7KjguWxBp6      Tyron
4  4478  161e2162-1193-4d5e-9e2d-25972fdf178d  pv9awWtz2h      Cyrus

  last_name      username                   email  \
0     Robel    rich.robel    rich.robel@email.com
1     Kiehn  hester.kiehn  hester.kiehn@email.com
2    Walker  craig.walker  craig.walker@email.com
3      Feil    tyron.feil    tyron.feil@email.com
4     Hoppe   cyrus.hoppe   cyrus.hoppe@email.com

                                              avatar       gender  \
0  https://robohash.org/atdolorumvoluptatem.png?s...  Genderqueer
1  https://robohash.org/exercitationempariaturduc...     Bigender
2  https://robohash.org/excepturiomnisvoluptates....   Polygender
3  https://robohash.org/siteteveniet.png?size=300...  Genderqueer
4  https://robohash.org/namdolorescorrupti.png?si...  Genderqueer

                 phone_number  ...    zip_code     state        country  \
0   +963 (107) 509-0233 x2694  ...       71034   Indiana  United States
1  +359 1-949-603-6153 x43499  ...  10378-3463  Colorado  United States
2  +690 (817) 048-2200 x59965  ...  16853-7888  Oklahoma  United States
3      +7 885-725-6405 x89650  ...       76052    Nevada  United States
4     +506 406-471-5657 x4901  ...       06532  Colorado  United States

         lat         lng            cc_number          plan   status  \
0  51.994234 -130.321932        4993414478976       Diamond     Idle
1 -49.716503   55.691803        4979613446211       Starter  Pending
2 -70.852993  156.213051        4489839611119  Professional  Blocked
3  26.106234   56.329692  4946-7177-1476-2745        Silver   Active
4 -53.299388  -24.404396  6771-8925-5058-4720  Professional  Blocked

  payment_method     term
0           Cash   Annual
1         Cheque  Monthly
2     WeChat Pay  Monthly
3     Google Pay  Monthly
4           Cash  Monthly

[5 rows x 27 columns]
csv exported to SQL database in table 'sports_user1'.
     id                                   uid    password first_name  \
0  3836  d49bc7a6-2ff0-4ac5-a7fe-91096d841271  EtsxV3KwzU    Sherril
1  5937  08b2da4b-e6b2-4f4f-a63e-a3d4a2524528  uxoUWFGmzv      Roxie
2  2933  1b251889-64db-4fa0-b761-c3c69c0bcddb  19FRPkW3it     Luther
3  1352  dffbb877-1bc8-4a7d-9d56-2d300547337b  YGz8lkfn2s      Lacey
4  2343  b4b28b80-9a61-4c09-a8be-5f206c703fbc  2T6ZdLR5wf  Christian

    last_name           username                        email  \
0   VonRueden  sherril.vonrueden  sherril.vonrueden@email.com
1      Lehner       roxie.lehner       roxie.lehner@email.com
2  Runolfsson  luther.runolfsson  luther.runolfsson@email.com
3    Reichert     lacey.reichert     lacey.reichert@email.com
4     Weimann  christian.weimann  christian.weimann@email.com

                                              avatar       gender  \
0  https://robohash.org/modiidcorporis.png?size=3...       Female
1  https://robohash.org/etnisiut.png?size=300x300...  Genderqueer
2  https://robohash.org/veroiddolorem.png?size=30...     Bigender
3  https://robohash.org/inventorenobisaliquam.png...     Bigender
4  https://robohash.org/nonrationeullam.png?size=...   Non-binary

                   phone_number  ...    zip_code       state        country  \
0       +260 697-690-1895 x4678  ...  38720-6992        Utah  United States
1             +221 514-260-8596  ...       31271      Oregon  United States
2  +1-876 (309) 620-3147 x83865  ...       11698    Missouri  United States
3      +250 (352) 112-1843 x947  ...       82372      Alaska  United States
4             +856 380-357-0661  ...       97606  Washington  United States

         lat         lng            cc_number          plan   status  \
0 -13.679994 -179.498633  6771-8972-8179-3722      Standard     Idle
1 -48.284582   34.282956  4671-3260-9478-7115  Professional  Blocked
2  15.246736  176.784592  5449-2763-8031-8968          Gold   Active
3  76.156201  130.286513        4945603360365          Gold     Idle
4  60.346443  -20.408243        4465718387658        Silver   Active

   payment_method               term
0          Paypal            Monthly
1  Money transfer  Full subscription
2       Apple Pay  Full subscription
3      Debit card            Monthly
4     Credit card             Annual

[5 rows x 27 columns]

## READING THE TABLES

In [6]:
# Helper to pull SQL data into pandas DataFrame
def df_from_sql(in_conn_str, in_sql_query):
    connection = pyodbc.connect(in_conn_str)
    data = pd.read_sql(in_sql_query, connection)
    connection.close()
    return data

In [7]:
user01_df = df_from_sql(conn_str, "SELECT * FROM sports_user1")
print(user01_df.columns)

C:\Users\Admin\AppData\Local\Temp\ipykernel_19096\906004370.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(in_sql_query, connection)

Index(['id', 'uid', 'password', 'first_name', 'last_name', 'username', 'email',
       'avatar', 'gender', 'phone_number', 'social_insurance_number',
       'date_of_birth', 'title', 'key_skill', 'city', 'street_name',
       'street_address', 'zip_code', 'state', 'country', 'lat', 'lng',
       'cc_number', 'plan', 'status', 'payment_method', 'term'],
      dtype='object')

In [8]:
display(user01_df.head())

,id,uid,password,first_name,last_name,username,email,avatar,gender,phone_number,...,zip_code,state,country,lat,lng,cc_number,plan,status,payment_method,term
0,1093,c3891995-cc9a-421f-af9c-13b2b8ead17a,oRfm4ZJxp2,Rich,Robel,rich.robel,rich.robel@email.com,https://robohash.org/atdolorumvoluptatem.png?s...,Genderqueer,+963 (107) 509-0233 x2694,...,71034,Indiana,United States,51.994234,-130.321932,4993414478976,Diamond,Idle,Cash,Annual
1,4369,41a8ea22-81e0-425f-90a6-bfc6bde62623,8fsDja6rnm,Hester,Kiehn,hester.kiehn,hester.kiehn@email.com,https://robohash.org/exercitationempariaturduc...,Bigender,+359 1-949-603-6153 x43499,...,10378-3463,Colorado,United States,-49.716503,55.691803,4979613446211,Starter,Pending,Cheque,Monthly
2,5401,8ef4a099-07da-4222-8a0c-8331a1762443,7lC8fOs1re,Craig,Walker,craig.walker,craig.walker@email.com,https://robohash.org/excepturiomnisvoluptates....,Polygender,+690 (817) 048-2200 x59965,...,16853-7888,Oklahoma,United States,-70.852993,156.213051,4489839611119,Professional,Blocked,WeChat Pay,Monthly
3,5642,cfa4592d-8bdb-4185-b436-9cd88db27014,7KjguWxBp6,Tyron,Feil,tyron.feil,tyron.feil@email.com,https://robohash.org/siteteveniet.png?size=300...,Genderqueer,+7 885-725-6405 x89650,...,76052,Nevada,United States,26.106234,56.329692,4946-7177-1476-2745,Silver,Active,Google Pay,Monthly
4,4478,161e2162-1193-4d5e-9e2d-25972fdf178d,pv9awWtz2h,Cyrus,Hoppe,cyrus.hoppe,cyrus.hoppe@email.com,https://robohash.org/namdolorescorrupti.png?si...,Genderqueer,+506 406-471-5657 x4901,...,06532,Colorado,United States,-53.299388,-24.404396,6771-8925-5058-4720,Professional,Blocked,Cash,Monthly

In [9]:
geo_df = df_from_sql(conn_str, "SELECT COUNTRY, STATE, count(*) count FROM [dbo].[sports_user1] GROUP BY COUNTRY, STATE ORDER BY COUNT(*) DESC")
display(geo_df.head())

C:\Users\Admin\AppData\Local\Temp\ipykernel_19096\906004370.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(in_sql_query, connection)

         COUNTRY        STATE  count
0  United States   California     28
1  United States      Arizona     25
2  United States  Connecticut     25
3  United States   New Jersey     25
4  United States        Texas     25

In [13]:
Gender_df = df_from_sql(conn_str, "select  GENDER, count(*) count from [dbo].[sports_user1] group by Gender order by count(*) desc")
display(Gender_df.head())

C:\Users\Admin\AppData\Local\Temp\ipykernel_19096\906004370.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(in_sql_query, connection)

       GENDER  count
0     Agender    135
1  Polygender    133
2    Bigender    132
3      Female    131
4        Male    128

In [14]:
status_df = df_from_sql(conn_str, "select  STATUS, count(*) count from [dbo].[sports_user1] group by STATUS order by count(*) desc")
display(status_df.head())

C:\Users\Admin\AppData\Local\Temp\ipykernel_19096\906004370.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(in_sql_query, connection)

    STATUS  count
0  Pending    258
1  Blocked    253
2     Idle    253
3   Active    236

In [17]:
payment_method_df = df_from_sql(conn_str, "select  PAYMENT_METHOD, count(*) count from [dbo].[sports_user1] group by PAYMENT_METHOD order by count(*) desc")
display(payment_method_df.head())

C:\Users\Admin\AppData\Local\Temp\ipykernel_19096\906004370.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(in_sql_query, connection)

  PAYMENT_METHOD  count
0     Google Pay    101
1    Credit card    100
2       Bitcoins     95
3     WeChat Pay     93
4  Visa checkout     88

In [18]:
term_df = df_from_sql(conn_str, "select  TERM, count(*) count from [dbo].[sports_user1] group by TERM order by count(*) desc")
display(term_df.head())

C:\Users\Admin\AppData\Local\Temp\ipykernel_19096\906004370.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(in_sql_query, connection)

                 TERM  count
0   Full subscription    277
1             Monthly    249
2  Payment in advance    244
3              Annual    230

In [19]:
plan_df = df_from_sql(conn_str, "select  [plan], count(*) count from [dbo].[sports_user1] group by [plan] order by count(*) desc")
display(plan_df.head())

C:\Users\Admin\AppData\Local\Temp\ipykernel_19096\906004370.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(in_sql_query, connection)

           plan  count
0       Student     84
1  Professional     80
2          Gold     78
3       Premium     77
4        Bronze     77